<!-- VIEW: index.html -->

<div class="box box--jumbo">
  <h2 class="box__content-bottom">{{pagetitle}}</h2>
</div>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<!-- ---------------------- -->

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

{{> part}}
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis turpis, pellentesque et venenatis non, posuere ac libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu dapibus quam, vitae luctus velit. Sed mauris orci, elementum eu ipsum id, viverra pellentesque est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse laoreet viverra quam, vitae laoreet ipsum sollicitudin id. Donec cursus sit amet lorem eget viverra. Aliquam quis orci vel risus aliquam porta. Fusce bibendum sapien in tellus porta suscipit.
</p>
