<!-- VIEW: index.html -->

<div class="box box--jumbo">
  <h2 class="box__content-bottom">{{pagetitle}}</h2>
</div>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
  <span class="glyphicon glyphicon-star"></span>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<!-- ---------------------- -->

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

<a class="box box--hover" href="#">
  <h4>Lorem ipsum</h4>
  <p>Aliquam volutpat erat ut erat rhoncus, quis semper magna dictum.</p>
</a>

{{> part}}
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis turpis, pellentesque et venenatis non, posuere ac libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu dapibus quam, vitae luctus velit. Sed mauris orci, elementum eu ipsum id, viverra pellentesque est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse laoreet viverra quam, vitae laoreet ipsum sollicitudin id. Donec cursus sit amet lorem eget viverra. Aliquam quis orci vel risus aliquam porta. Fusce bibendum sapien in tellus porta suscipit.
</p>
<div>
  <div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-addon">.00</span>
</div>

<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control">
  <span class="input-group-addon">.00</span>
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control input-lg" placeholder="Username">
</div>

<div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<div class="input-group input-group-sm">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>
