body {

	padding: 50px 0;
	
}

.box {
	color: $color-dark-grey;
	display: block;
	position: relative;
	min-height: 100px;
	padding: $padding-base-vertical $padding-base-horizontal;
	margin-bottom: $margin-base-vertical;
	background-color: $color-box;
	border-bottom: 5px solid $color-darker-grey;
}

// BEMS
.box--hover {
	&:hover {
		color: $color-light-grey;
		background-color: $color-darker-grey;
		text-decoration: none;
	}
}
.box--jumbo {
	min-height: 250px;
	background-color: $color-dark-grey;
	color: #FFF;
	h2 {
		font-size: 4em;
	}
	
}
.box__content-bottom {
	position: absolute;
	bottom: 0;
}

.container--narrowed {
	max-width: 800px;
	padding-right: $padding-small-horizontal;
	padding-left: $padding-small-horizontal;
}