//// COMPASS DEFAULTS
////////////////////////////////////////////////////////

// Border radius
$default-border-radius: 2px;

// box shadows
$default-box-shadow-color: #333;
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 2px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

//// BOOTSTRAP OVERWRITES
////////////////////////////////////////////////////////

$icon-font-path:          "../../fonts/";
// $icon-font-name:          "glyphicons-halflings-regular";

//// MY DEFAULTS
////////////////////////////////////////////////////////

$theme-color-box:	$gray-lighter;
